@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');


.title {
    color: black;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 500px;
    margin: 60px auto;
    text-align: center;


}

.btn {
    background-color: #000000;
    border: none;
    border-radius: 8px;
    color: rgb(248, 248, 248);
    padding: 10px 20px;
}

#dice {
    width: 70px;
    height: 70px;
    margin: auto;
    background-color: orange;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dice-value {
    color: aliceblue;
    font-style: italic;
    font-weight: bolder;
    font-size: 42px;
}

.dice-animation {
    animation-name: dice-animation;
    animation-duration: 2s;

}

@keyframes dice-animation {


    100% {
        transform: rotate(360deg)
    }

}